<h3>Edit Character:</h3>
<form id="character_update" action="/character_update/{{chars[0]}}" method="post">
  <input type="hidden" name="character_id" value = "{{ chars[0] }}">
  Name: <input type="text" name="name" value = "{{ chars[1] }}"><br>
  Alive: <input type="text" name="alive" value = "{{ chars[2] }}"><br>
  Allegiance: <input type="text" name="alleg" value = "{{ chars[4] }}"><br>
  Manner of Death: <input type="text" name="MoD" value = "{{ chars[3] }}"><br>
  Portrayed by: <input type="text" name="portrayal" value = "{{ chars[5] }}"><br>
  <input type="submit" value="Submit">
</form>
