<!DOCTYPE html>
<html>
  
  <head>
    <title>Character Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    </script>
    <style>
      table { empty-cells: show; }
    </style>
  </head>
  
  <body>
    
    <div class="main-story container">
      <div id="pageTitle" align="middle">
	<h1>This is the character page.</h1>
      </div>
      
      <h3>Character Data</h3>

      <table id="myTable" border='1'>
	<thead>
	  <th>ID</th>
	  <th>Name</th>
	  <th>Alive?</th>
	  <th>Manner of Death</th>
	  <th>Portrayed by</th>
	  <th>Philosophy</th>
	</thead>
	<tbody>
	  {% for r in rows %}
	  <tr>
	    <td> {{ r[5] }} </td>
	    <td> {{ r[0] }} </td>
	    <td align="center"> {{ r[1] }} </td>
	    <td> {{ r[2] }} </td>
	    <td> {{ r[3] }} </td>
	    <td>
	    {% for p in phil %}
	    {% if p[1] == r[4] %}
	    {{ p[0] }}
	    {% endif %}
	    {% endfor %}
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      
      
      <div class="footer clearfix">
	<div class="container_12">
	  <p class="grid_12" align="middle"><a href="index">Home Page</a> | <a href="characters">Characters</a> | <a href="factions">Factions</a> | <a href="seasons">Seasons</a> | <a href="philosophies">Religions and Philosophies</a> | <a href="create">Add a New Character</a> | <a href="edit">Edit a Character</a> | <a href="search">Search for a Character</a></p>
	</div>
      </div>
      
      
  </body>
  
</html>
