<html>
<head><title>Update Menu</title></head>
  <h1>Character List</h1>
  <table border='1'>
    <thead>
      <th>Name</th>
      <th>char_id</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
	<td> {{ r.0 }} </td>
	<td> {{ r[1] }} </td>
	<td> <input type='button' name='Update' value='Update' 
		    onclick="window.location = '/character_update/{{r[1]}}'"> </td>
	<td> <input type='button' name='Delete' value='Delete'
		    onclick="window.location = '/delete_char/{{r[1]}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="footer clearfix">
    <div class="container_12">
      <p class="grid_12" align="middle"><a href="index">Home Page</a> | <a href="characters">Characters</a> | <a href="factions">Factions</a> | <a href="philosophies">Religions and Philosophies</a> | <a href="create">Add a New Character</a> | <a href="edit">Edit a Character</a></p>
    </div>
  </div> 

</html>
