<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <head>
    <title>CS 340, Project Step 3</title>
  </head>

  <body>
    <link rel="stylesheet" type="text/css" href="css/projectStyle.css" />
    <!--main-story-->
    <div class="main-story container">
      <div id="bigTitle" align="middle">
        <h1>This is the index page for Project Step 3.</h1>
      </div>
      <div class="intro">
        <p align="middle">
          Below you can find the links to the other static pages in our project.
        </p>
      </div>
    </div>
    <div class="footer clearfix">
      <div class="container_12">
        <p class="grid_12" align="middle">
          <a href="index">Home Page</a> | <a href="characters">Characters</a> |
          <a href="factions">Factions</a> |
          <a href="philosophies">Religions and Philosophies</a> |
          <a href="create">Add a New Character</a> |
          <a href="edit">Edit a Character</a>
        </p>
      </div>
    </div>
  </body>
</html>
